[Unit]
Description=Bittorent Sync service
After=network.target

[Service]
ExecStart=/bin/sh -c "%h/local/bin/btsync --config %h/.btsync/config --nodaemon"
Restart=on-abort

[Install]
WantedBy=default.target
