[Unit]
Description=CopyConsole
After=local-fs.target network.target

[Service]
Type=simple
ExecStart=/bin/sh -c "%h/local/copy/x86_64/CopyConsole -root=%h/Copy"
ExecReload=/bin/kill -HUP $MAINPID
KillMode=process
Restart=always

[Install]
WantedBy=default.target
