[Unit]
Description=MariaDB database server
After=syslog.target

[Service]
ExecStart=/bin/sh -c "%h/.linuxbrew/bin/mysqld_safe --bind-address=127.0.0.1 --datadir=%h/.linuxbrew/var/mysql"

Restart=always
PrivateTmp=true

[Install]
WantedBy=multi-user.target
