[Unit]
Description=PostgreSQL database server
After=network.target

[Service]
Type=forking
TimeoutSec=120

Environment=PGROOT=%h/local/var/lib/postgres

SyslogIdentifier=postgres
PIDFile=%h/local/var/lib/postgres/data/postmaster.pid

ExecStart= /bin/sh -c "%h/local/bin/pg_ctl -s -D ${PGROOT}/data start -w -t 120"
ExecReload=/bin/sh -c "%h/local/bin/pg_ctl -s -D ${PGROOT}/data reload"
ExecStop=  /bin/sh -c "%h/local/bin/pg_ctl -s -D ${PGROOT}/data stop -m fast"

# Due to PostgreSQL's use of shared memory, OOM killer is often overzealous in
# killing Postgres, so adjust it downward
# OOMScoreAdjust=-200

[Install]
WantedBy=default.target
