[Unit]
Description=Advanced key-value store
After=network.target

[Service]
Type=forking

PIDFile=/tmp/redis.pid

ExecStart=/bin/sh -c "%h/.linuxbrew/bin/redis-server %h/local/etc/redis.conf"
ExecStop= /bin/sh -c "%h/.linuxbrew/bin/redis-cli shutdown"

Restart=always

[Install]
WantedBy=default.target
